@model KymiraAdmin.Models.FAQ

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>FAQ</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.question)
        </dt>
        <dd id="question">
            @Html.DisplayFor(model => model.question)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.answer)
        </dt>
        <dd id="answer">
            @Html.DisplayFor(model => model.answer)
        </dd>
    </dl>
</div>
<div>
    <a id="btnEdit" asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a id="btnBack" asp-action="Index">Back to List</a>
</div>
