@model IEnumerable<KymiraAdmin.Models.FAQ>

@{
    ViewData["Title"] = "Frequently Asked Questions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Frequently Asked Questions</h2>

<p>
    <a id="btnAdd" asp-action="Create">Create New</a>
</p>
<table class="table" id="FAQTable">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.question)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.answer)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td id="question">
                @Html.DisplayFor(modelItem => item.question)
            </td>
            <td id="answer">
                @Html.DisplayFor(modelItem => item.answer)
            </td>
            <td>
                <a id="btnEdit" asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a id="btnDelete" asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
