@model IEnumerable<KymiraAdmin.Models.FAQ>

@{
    ViewData["Title"] = "Frequently Asked Questions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Frequently Asked Questions</h2>

<table class="table" id="FAQTable">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.question)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.answer)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.question)
            </td>
            <td>
                @Utils.shortAnswer(item.answer.ToString(), 40)
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
