@model IEnumerable<KymiraAdmin.Models.Site>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.frequency)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.collection1)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.collection2)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.collection3)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.collection4)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.frequency)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.collection1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.collection2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.collection3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.collection4)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.siteID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.siteID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.siteID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
