@model KymiraAdmin.Models.BinStatus

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>BinStatus</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.binID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.binID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.siteID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.siteID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.collectionDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.collectionDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.pickupID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
