
@model X.PagedList.IPagedList<KymiraAdmin.Models.BinStatus>
@using X.PagedList;
@using X.PagedList.Mvc.Core;

<link href="~/css/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Recent Collection Statuses";
}

<h2>Recent Collection Statuses</h2>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page }))
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Site ID", "Index", new { sortOrder = ViewBag.SiteSortParm })
            </th>

            <th>
                @Html.ActionLink("Bin ID", "Index", new { sortOrder = ViewBag.BinSortParam })
            </th>
            <th>
                @Html.ActionLink("Collection Status", "Index", new { sortOrder = ViewBag.StatusSortParm })
            </th>
            <th>
                @Html.ActionLink("Collection Date", "Index", new { sortOrder = ViewBag.DateSortParm })
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.siteID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.binID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.collectionDate)
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.pickupID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<br />

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort }))
