@model IEnumerable<KymiraAdmin.Models.BinStatus>

@{
    ViewData["Title"] = "Recent Collection Statuses";
}

<h2>Recent Collection Statuses</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                Site ID
            </th>
            <th>
                Bin ID
            </th>
            <th>
                Collection Status
            </th>
            <th>
                Collection Date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.siteID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.binID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.status)
                </td> 
                <td>
                    @Html.DisplayFor(modelItem => item.collectionDate)
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.pickupID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
