@model IEnumerable<KymiraAdmin.Models.Site>

@{
    ViewData["Title"] = "Index";
}

<h2>All Sites</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Site ID
            </th>
            <th>
                Full Address
            </th>
            <th>
                Frequency
            </th>
            <th>
                Site Pickup Day(s)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.siteID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.frequency)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sitePickupDays)
            </td>

            <td>
                <a asp-action="Delete" asp-route-id="@item.siteID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
