@model X.PagedList.IPagedList<KymiraAdmin.Models.Site>

@using X.PagedList;
@using X.PagedList.Mvc.Core;

<link href="~/css/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Sites";
    //ViewData["Title"] = "Index";
}



<h2>All Sites</h2>



Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page }))


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Site ID", "Index", new { sortOrder = ViewBag.SiteSortParam })
            </th>
            <th>
                @Html.ActionLink("Full Address", "Index", new { sortOrder = ViewBag.AddressSortParam })
            </th>
            <th>
                Frequency
            </th>
            <th>
                Site Pickup Day(s)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.siteID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.frequency)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.sitePickupDays)
                </td>

                <td>
                    <a asp-action="Delete" asp-route-id="@item.siteID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<br />

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort }))

